html, body {
	width: 100%;
	height: 100%;
	margin:0;
  font-family: 'Roboto', sans-serif;
}
.top-wrapper {
  position: relative;
  height: 650px;
}
.navigation-wrapper,
.top-bar-wrapper  {
  position: relative;
  z-index: 200;
  opacity: 0.9;
}
.top-bar-wrapper {
  background-color: #0288D1;
}
.top-bar {
  width: 1140px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  color: #fff;
  align-items: center;
  padding: 10px 0;
  font-size: 14px;
}
.top-bar span {
  display: inline-block;
  margin-right: 10px;
}
.top-bar-links a {
  color: #fff;
  text-decoration: none;
  display: inline-block;
  margin-left: 10px;
}
.navigation-wrapper {
  background-color: #01579B;
}
.navigation-bar {
  width: 1140px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  color: #fff;
  align-items: center;
  padding: 10px 0;
}
.brand {
  border: 1px solid #fff;
  padding: 5px 10px;
}
.brand h1 {
  color: #fff;
  font-size: 26px;
  margin: 0;
}
.brand h3 {
  color: #fff;
  margin: 0;
  font-size: 14px;
}
.main-menu a {
  display: inline-block;
  font-size: 18px;
  padding: 8px 5px;
  color: #fff;
  text-decoration: none;
}
.video-wrapper {
  position: absolute;
  overflow: hidden;
  z-index: 0;
  top:0;
}
.video-wrapper video {
  width: 100%;
  height: 650px;
  object-fit: cover;
}
.room-check {
  position: absolute;
  top: 180px;
  right: calc((100% - 1140px)/2);
  color: white;
  background-color: #455A64;
  padding: 0 15px;
  width: 300px;
}
.room-check h3 {
  font-size: 24px;
}
.room-check .fields {
  display: flex;
  flex-wrap: wrap;
}
.fields input[type="date"],
.fields input[type="number"],
.fields label {
  flex: 1 0 120px;
}
.fields input[type="date"],
.fields input[type="number"] {
  margin-bottom: 20px;
  margin-left: 5px;
  margin-right: 5px;
  padding: 7px 3px;
}
.fields label {
  margin-bottom: 4px;
  margin-left: 5px;
  margin-right: 5px;
}
.room-check button {
  background-color: #FFAB00;
  border: 0 none;
  width: 100%;
  padding: 10px 0;
  margin-bottom: 20px;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
}
.rooms-content {
  width: 1140px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.rooms-title h3 {
  font-size: 42px;
  margin-bottom: 0;
}
.rooms-list {
  flex: 0 0 800px;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  list-style-type: none;
}
.rooms-list li {
  flex: 1 0 350px;
  margin:10px;
  position: relative;
}
.rooms-list li img {
  width: 100%;
  height: 265px;
}
.room-details {
  position: absolute;
  top: 0;
  left: 30px;
  background-color: #01579B;
  padding: 10px;
  color: #fff;
  opacity: 0.9;
}
.room-name {
  font-size: 20px;
  display: block;
  margin-bottom: 10px;
}
.price {
  font-size: 24px;
  font-weight: bold;
}
.per {
  font-size: 14px;
  font-weight: normal;
}